{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
  <div class="d-flex justify-content-center"><div class="col-8">
      <div class="card"><div class="card-header d-flex justify-content-between align-items-center">{{ article.topics }}
          <div>
              <a href="#!" class="btn btn-dark">Delete</a>
              <a href="#!" class="btn btn-dark">Change</a>
              <a href="#!" class="btn btn-dark">Back</a>
          </div>
      </div>
          <img src="" class="card-img-top" alt="">
          
          <div class="card-body">
           {% if article.photo %}
           <img src="{{article.photo.url}}" width="300" alt="article">
           {% else %} 
          <img src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="300" alt="">
           {% endif %}
          <h5 class="card-title">{{ article }}</h5>
          <p class="card-text">{{ article.content |linebreaks }}</p>
      </div>
          <div class="card-footer d-flex justify-content-between"><p class="card-text">{{ article.created_at | date:"d/m/Y H:i" }}</p>
              <a href="#">Author of the article: {{ article.author }}</a>
          </div>
      </div>
      <hr>

      <!--  reviews-->
      <form action="#!" method="post" , enctype="multipart/form-data">
          <input type="hidden" name="csrfmiddlewaretoken" value="dVpvJs374bq08P5ZzKsB7pSNUnoJ6PXRIDRXHc1fjvFIdKmbXrQMDMR0wYHLFtut">
          <textarea name="text" cols="40" rows="10" class="form-control" placeholder="Текст вашего комментария" required id="id_text"></textarea>
          <button class="btn btn-dark mt-2" type="submit">Add a comment</button>
      </form>

      <div class="card mt-2"><h5 class="card-header">Some person</h5>
          <div class="card-body">
              <p class="card-text">Review text</p>
          </div>
      </div>
  </div>
  </div>
{% endblock %}