{% extends 'base.html' %}

{% block title %}{{ title}}{% endblock %}

{% block main %}
  <h2>News portal</h2>
  <div class="d-flex justify-content-between">
      <div class="col-3">
          <!-- Sidebar-->
           {% for topic in topics %}
          <div class="list-group">
              <a href="{% url 'articles_by_topic' topic.pk %}" class="list-group-item list-group-item-action">{{ topic }}</a>
          </div>
          {% endfor %}
      </div>
      <!-- Posts-->
      <div class="col-8">
          <!-- Post-->
          {% for article in articles %}
          <div class="card"><div class="card-header text-center">{{ article.topics }}</div>
              <div class="card-body"><h5 class="card-title text-center">{{ article }}</h5><p class="card-text">{{ article.content | truncatewords:30 }}</p><a href="{% url 'article' article.pk %}" class="btn btn-primary">Reed more</a></div>
              <div class="card-footer text-muted text-end">{{ article.created_at | date:"d/m/Y H:i" }}</div>
          </div>
          {% endfor %}
         
      </div>
  </div>
{% endblock %}