{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
  <div class="d-flex justify-content-center">
    <div class="card col-4 mb-4 mt-4">
        <div class="card-body">
            <h2 class="text-center">Register an account</h2>
            <form action="" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="bIz3P1xxc8nihUSxXhkEl8rSmEIZ9fA8Gq1vNLvFrsC0mP9JlYIPRvq5Yf11IT7K">
                <div class="form-floating flex-fill mb-4">
                    <input type="text" name="username" class="form-control" placeholder="User name" maxlength="150" autofocus required id="id_username">
                    <label for="id_username">
                        <i class="fa-solid fa-user"></i>  User name
                    </label>
              </div>
              <div class="form-floating flex-fill mb-4">
                  <input type="email" name="email" class="form-control" placeholder="E-mail" required id="id_email">
                  <label for="id_email">
                      <i class="fa-solid fa-envelope"></i>  E-mail
                  </label>
              </div>
              <div class="form-floating flex-fill mb-4">
                  <input type="password" name="password1" class="form-control" placeholder="Password" required id="id_password1">
                  <label for="">
                      <i class="fa-solid fa-key"></i>  Password
                  </label>
              </div>
                <div class="form-floating flex-fill mb-4">
                  <input type="password" name="password2" class="form-control" placeholder="Confirm password" required id="id_password2">
                  <label for="">
                      <i class="fa-solid fa-key"></i>  Confirm password
                  </label>
              </div>
                <button class="btn btn-dark" type="submit">Registration</button>
            </form>
        </div>
        </div>
    </div>
    <div><div style="margin-top: 100px;"></div></div>
{% endblock %}